
.banner{
    height: 30vh;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
       ),  url(https://images.unsplash.com/photo-1594434533554-4a4926750d6a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1241&q=80);
    background-position: ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-1{
    display: flex;
    
    justify-content: center;
}
.banner-1 h2{
    font-size: 4rem;
    font-weight: bold;    
    color: white;   
    text-transform: uppercase; 
}
