.logo-nav{
    max-height: 4rem;
}

.nav-link-p{
    color: #efb537!important;
  }
.flex-navbar{
    display: flex;
    justify-content: space-around;
}  
.cartWidget{
    order:1;
}
@media (max-width:1199px){
    .cartWidget{
        order:0;
    }
}
.navbar-toggler{
    order:-1;
}