/* .item-count{
    width: 50%;
} */
button{
    border: none;
    background-color: transparent;
}
button i{
    font-size: 1.2rem;
}
.cantidad-items{
    font-size: 1.3rem;
}
.agreg-carrito{
    display: block;
}
.btns-count{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.btn-carrito{
    width: 100%;
}